article {
 -webkit-column-count:2;
 -moz-column-count:2;
 column-count:2;
}
h1 {
 background: DAA520;
 text-align: left;
 color: white;
}
header {
 background: #CD853F;
 text-align: left;
 color: white;}
article {
 -webkit-column-width: 200px;
 -moz-column-width: 200px;
 column-width: 200px;

 -webkit-column-gap: 30px;
 -moz-column-gap: 30px;
 column-gap: 30px;
}
aside {
 text-decoration: underline;
}
footer {
 color: black;
 background: white;
 text-align: left;
 }
 .cite {
  color: Orange;
  border-bottom: 1px dashed orange;
}
.main {
  color: black;
  border-bottom: 4px dashed green;
}
.background {
  background: #EE82EE;
}
.joy {
  border-style: groove;
  border-color: #FF00FF;
}
